@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #root {
  background-color: #022437; /* or your app’s background color */
  color: #fff; /* optional, for text */
  margin: 0;
  padding: 0;
}
:root {
  --accent: #22d3ee; /* cyan */
}

:root[data-accent="emerald"] {
  --accent: #34d399;
}

:root[data-accent="violet"] {
  --accent: #a78bfa;
}

:root[data-accent="rose"] {
  --accent: #fb7185;
}
